/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Compass
@import "compass/css3";
@import "compass/utilities/general/clearfix";

/* ==========================================================================
   Reset
   ========================================================================== */
@import "normalize";

// Box size all the things!
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ==========================================================================
   Variables/Mixins
   ========================================================================== */
@import "var";
/* ==========================================================================
   Sprites
   ========================================================================== */
/* ==========================================================================
   Type
   ========================================================================== */
@import "type";
/* ==========================================================================
  Posts
   ========================================================================== */
@import "posts";
/* ==========================================================================
   Helpers
   ========================================================================== */
@import "helpers";